<div id="YanMenu" class="sidenav" th:fragment="yanmenu" xmlns:th="http://www.w3.org/1999/xhtml">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">

    &times;</a>

  <a class="nav-link page-title" href="/admin/pages">Pages</a>
  <a class="nav-link page-title" href="/admin/categories">Category</a>
  <a class="nav-link page-title" href="/admin/educations">Educations</a>
</div>

<div id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">
  &#9776; </span>
</div>
